columnview, columnviewcolumn {
  background: none;
}

flowbox > flowboxchild {
  background: transparent;
  border: none;
  box-shadow: none;
}

.no-hover-nested list.nested row:hover {
    background: transparent;
}
